div#container
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				img(src="https://dhmmnhg6rkouo.cloudfront.net/banner/1023/fd861341d3c1.jpg")
			.swiper-slide
				img(src="https://dhmmnhg6rkouo.cloudfront.net/banner/1023/fd861341d3c1.jpg")
			.swiper-slide
				img(src="https://dhmmnhg6rkouo.cloudfront.net/banner/1023/fd861341d3c1.jpg")
			.swiper-slide
				img(src="https://dhmmnhg6rkouo.cloudfront.net/banner/1023/fd861341d3c1.jpg")
		.swiper-pagination
